.card {
    height: 500px;

    &--img {
        height: 300px;
        object-fit: contain;
    }

    &--link {
        text-decoration: none;
    }

    &--button-controller {
        gap: 0.5rem
    }

    &--loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
}